{
  "openapi": "3.0.0",
  "info": {
    "title": "工作空间管理API",
    "version": "1.0.0",
    "description": "管理工作空间的API接口"
  },
  "servers": [
    {
      "url": "https://gccs.glodon.com",
      "description": "测试环境"
    }
  ],
  "paths": {
    "/sdk/storage/workspace/v1": {
      "get": {
        "summary": "获取工作空间列表",
        "description": "获取当前用户的工作空间列表",
        "operationId": "getWorkspaces",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token"
          }
        ],
        "responses": {
          "200": {
            "description": "成功获取工作空间列表",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "success"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "workspaces": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "string",
                                "example": "ws_123456"
                              },
                              "name": {
                                "type": "string",
                                "example": "我的项目"
                              },
                              "description": {
                                "type": "string",
                                "example": "项目描述"
                              },
                              "created_at": {
                                "type": "string",
                                "format": "date-time"
                              }
                            }
                          }
                        },
                        "total": {
                          "type": "integer",
                          "example": 1
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "创建工作空间",
        "description": "创建新的工作空间",
        "operationId": "createWorkspace",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Bearer token"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "新项目"
                  },
                  "description": {
                    "type": "string",
                    "example": "项目描述"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "工作空间创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "integer",
                      "example": 201
                    },
                    "message": {
                      "type": "string",
                      "example": "workspace created"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "ws_789012"
                        },
                        "name": {
                          "type": "string",
                          "example": "新项目"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}